.venv 
.env

*.pyc
.env

#terraform files created after you init, plan and apply
.terraform*
terraform.tfstate

#pdf files created as testing output
*.pdf
*.mp3
*.png
text.txt

__pycache__/

mp3-files/